body {
  background-image: url(/dist/d287bae29349a4a24b156f244565411f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  display: flex;
  justify-content: space-around;
}
ul li {
  cursor: pointer;
  font-size: 2em;
}

ul li:hover, .active {
  background: white;
  color: green;
}

.retaurant-name {
  font-size: 3.5em;
  font-weight: bold;
}

.words {
  font-size: 2em;
  margin-top: 120px;
}

.welcome {
  font-size: 1.5em;
}